# Домашнее задание к лекции 2.5 «Инструменты для оперативной работы с данными»

### Задача №1

In [159]:
import pandas as pd

filepatch = 'names/'

def get_df(year):
    return pd.read_csv(filepatch + f'yob{year}.txt', names = ['Name', 'Gender' , 'Count'])

def count_top3(years):
    all_names = []
    for year in years:
        all_names.append(get_df(year))
        
    top_name = pd.concat(all_names).sort_values('Count', ascending = False).head(3)['Name']
    
    return list(top_name)
        
count_top3([1900, 1950, 2000])

['James', 'Robert', 'Linda']

### Задача №2

In [605]:
def count_dynamics(years):
    all_names = []
    for year in years:
        df = get_df(year)
        df['Year'] = year
        all_names.append(df.groupby(['Year', 'Gender']).sum()['Count'])
    return pd.concat(all_names).unstack()

count_dynamics([1900, 1950, 2000])

Gender        F        M
Year
1900     299798   150480
1950    1713065  1790437
2000    1815295  1963202